<div class="container-fluid">
    <div class="col-md-3 card">
        <h2>發行新點數</h2>
        <hr>
        <div class="form-group">
            <label for="unit">發行單位</label>
            <input type="text" class="form-control" id="unit">
        </div>
        <div class="form-group">
            <label for="name">點數名稱</label>
            <input class="form-control" id="name" type="text">
        </div>
        <div class="form-group">
            <label for="totalSupply">發行總量</label>
            <input type="number" class="form-control" id="totalSupply" min="0" value="0">
        </div>
        <div class="form-group">
            <label for="deadline">到期日</label>
            <input type="datetime-local" class="form-control" id="deadline">
        </div>
        <div class="form-group">
            <label for="keyfile">輸入憑證檔案(keyfile)</label>
            <input type="file" class="form-control" id="keyfile">
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#inpwd">發行</button>
        <!-- Modal -->
        <div class="modal fade" id="inpwd" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">輸入憑證密碼</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="issue">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 card detail">
        <h2>發行紀錄</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:10%">發行單位</th>
                    <th style="width:20%">點數名稱</th>
                    <th style="width:50%">點數地址</th>
                    <th style="width:20%">到期日</th>
                </tr>
            </thead>
            <tbody>
                {{#each points}}
                <tr>
                    <th>{{unit}}</a>
                    </th>
                    <th>{{name}}</a>
                    </th>
                    <th>{{address}}</a>
                    </th>
                    <th>{{datetime deadline}}</a>
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="./javascripts/issue.js"></script>
<script src="./javascripts/web3.min.js"></script>
<script src="./javascripts/signtx.js"></script>