<div class="container-fluid">
    <div class="col-md-3 card">
        <h2>發送點數</h2>
        <hr>
        <div class="form-group" style="margin-bottom:30px;">
            <label for="token1">點數地址</label>
            <input class="form-control" id="token1" type="text">
        </div>
        <div class="form-group" style="margin-bottom:30px;">
            <label for="value">點數數量</label>
            <input type="number" class="form-control" id="value" min="0" value="0">
        </div>
        <div class="form-group" style="margin-bottom:30px;">
            <label for="address">發送對象帳戶地址</label>
            <div class="input-group">
                <input class="form-control" id="address" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <a href="#users" data-toggle="modal" data-target="#users">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom:30px;">
            <label for="keyfile">輸入憑證檔案(keyfile)</label>
            <input type="file" class="form-control" id="keyfile">
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#inpwd">發送</button>
        <!-- Modal -->
        <div class="modal fade" id="inpwd" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">輸入憑證密碼</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="transfer">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 card detail" id="transaciotns">
        <h2>詳細資料</h2>
        <hr>
    </div>
</div>
<div class="modal fade" id="users" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">用戶清單</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>學號</th>
                            <th>姓名</th>
                            <th>加入</th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        {{#each users}}
                        <tr>
                            <th>{{ID}}</th>
                            <th>{{name}}</th>
                            <th>
                                <input type="checkbox" id="addUser" value="{{address}}">
                            </th>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="checkUsers" type="button" class="btn btn-default" data-dismiss="modal">確認</button>
            </div>
        </div>

    </div>
</div>
<script src="./javascripts/transfer.js"></script>
<script src="./javascripts/web3.min.js"></script>
<script src="./javascripts/signtx.js"></script>