<div class="container">
    <br>
    <div class="row" style="float:right">
        <a href="/">
            <button type="button" class="btn btn-success">發行</button>
        </a>&nbsp;&nbsp;&nbsp;
        <a href="/transfer">
            <button type="button" class="btn btn-success">發送</button>
        </a>&nbsp;&nbsp;&nbsp;
        <a href="/search">
            <button type="button" class="btn btn-success">查詢</button>
        </a>&nbsp;&nbsp;&nbsp;
    </div>
    <h1>發送點數</h1>
    <div class="col-md-3">
        <div class="form-group">
            <label for="token1">token地址</label>
            <input class="form-control" id="token1" type="text">
        </div>
        <div class="form-group">
            <label for="value">數量</label>
            <input type="number" class="form-control" id="value" min="0" value="0">
        </div>
    </div>
    <div class="col-md-4">
        <label for="to">目標地址</label>
        <div class="form-group" style="height:300px;overflow:scroll;">
            <div>
                <label style="display: block;">
                    <input type="checkbox" id="to" value="1ae8e162bd5f29755e61131d7d379d1b0ff582dd"> 103703017 賴晨禾 0x1ae8e162bd5f29755e61131d7d379d1b0ff582dd
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" id="to" value="728609a0ac795acb8b7c7df9a8f334143da79d74">103703030 邱 天 0x728609a0ac795acb8b7c7df9a8f334143da79d74
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" id="to" value="8d6e4804441f331283bda1a3ceb8b3544a3db6f9">103703015 彭麒家 0x8d6e4804441f331283bda1a3ceb8b3544a3db6f9
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="keyfile">input your keyfile</label>
            <input type="file" class="form-control" id="keyfile">
        </div>
        <div class="form-group">
            <label for="pwd">input your password</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <button type="button" class="btn btn-success" id="transfer">確認</button>
    </div>
    <div class="col-md-5">
        <div id="transaciotns" style="height:500px;overflow:scroll;">
        </div>
    </div>
</div>

<script src="./javascripts/transfer.js"></script>
<script src="./javascripts/web3.min.js"></script>
<script src="./javascripts/signtx.js"></script>