<div class="container-fluid">
    <div class="col-md-3 card">
        <h2>發送點數</h2>
        <hr>
        <div class="form-group">
            <label for="token1">token地址</label>
            <input class="form-control" id="token1" type="text">
        </div>
        <div class="form-group">
            <label for="value">數量</label>
            <input type="number" class="form-control" id="value" min="0" value="0">
        </div>
        <div class="form-group">
            <label for="address">帳戶地址</label>
            <input class="form-control" id="address" type="text">
        </div>
        <div class="form-group">
            <label for="keyfile">input your keyfile</label>
            <input type="file" class="form-control" id="keyfile">
        </div>
        <div class="form-group">
            <label for="pwd">input your password</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <button type="button" class="btn btn-success" id="transfer">確認</button>
    </div>
    <div class="col-md-8 card detail" id="transaciotns">
        <h2>詳細資料</h2>
        <hr>
    </div>
</div>

<script src="./javascripts/transfer.js"></script>
<script src="./javascripts/web3.min.js"></script>
<script src="./javascripts/signtx.js"></script>